<div class="background-wrap">
   <video id="video-bg-elem" preload="auto" autoplay="true" loop="loop" muted="muted">
     <source src="images/whiteliliesmp4.mp4" type="video/mp4">Video not supported
   </video>
</div>

     
<div class="title">
    <h2>Dallies & Lallies</h2>
       <h1>Smell your flower</h1>
           
           <input id="text-input" type="text" placeholder="Enter" ng-model="input"><br>
           <button  class="btn sm submit-text" ng-click="showFlower()">Lets smell the flower</button>
           
        <div class="outer">
          <h2 class="name"></h2> 
          <div class="result"></div>
        </div>
       
</div>