<div class="background-wrap">
   <video id="video-bg-elem" preload="auto" autoplay="true" loop="loop" muted="muted">
     <source src="images/whiteliliesmp4.mp4" type="video/mp4">Video not supported
   </video>
 </div>
     
 <div >

<div class="title">
  <h1 class="lets">Let`s smell your flower</h1>

   <form action="/upload" method="POST" enctype="multipart/form-data" target="hiddenFrame">

          <label class="file">
          <input type="file" required name="image" placeholder="Chose file"/>
          </label>
      
      <label class="submitFile">
          <input  type="submit"/> </label> <h4></h4>  <span id ="value">
           Click 


</form>
  
  <iframe name="hiddenFrame" 
          width="0" 
          height="0" 
          border="0" 
          style="display: none;">
  </iframe>
  <a class="resultsFile" href="/#/flower">Results</a> To see Your Flower
</div>
</div>





