<div id="background">
  <img src="images/register.jpg" class="stretch" alt="">
</div>


  <form id="slick-registration" ng-submit="register()">
    <h3 class="register">Register</h3>

      <label for="username">username</label>
      <input type="text" name="username" class="placeholder" placeholder="Username" ng-model="user.username"></input>
    

    <label for="password">password</label>
      <input type="password" name="password" class="placeholder" placeholder="Password" ng-model="user.password"></input>


    <input type="submit" value="Register">
  </form>

